.img{
    width: 100px;;
    height: 180px;
    text-align: center;
    color: blue;
    background-image: url("./images/1h.jpg");
    font-size: xx-large;
    font-style: initial;
}
*{
    border: 20px solid black;
    border-radius: 50px;
    border-left: none;
    border-right: none;
   
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-bottom: 30px;
}